// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);

  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  --page-highlighted-background: var(--ion-color-primary);
  font-size: 10pt !important;
}


ion-toolbar {
  --background: var(#ffffff);
  --background: #ffffff;
  color: white;
  --ion-color-base: white !important;
}

.user-details-wrapper {
  background-color: #212733;
  color: var(--ion-color-light);
  align-items: center;

  .user-avatar {
    border: solid 3px var(--ion-color-light);
  }

}

.feature-style {
  line-height: 24px;
  font-size: 11pt;
  padding-left: 12px;
  text-align: justify;
}


.error p {
  color: rgb(230, 3, 3) !important;
  text-align: left;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

ul li:before {
  content: "\2714\0020";
  color: #00acec !important;
}

.btn-edit {
  border-color: #03A9F4;
  height: 20px;
  font-size: 12px;
  color: white;
  line-height: 0px;
  top: 25px;
}

.example-full-width {
  width: 100%;
}



.header-md:after {
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: url(data:image/png;base64,y);
  background-repeat: repeat-x;
  content: "";
}

.mat-logBtn {
  color: #fff;
  background-color: #00acec;
  width: 100%;

  .mat-button-wrapper {
    color: #fff;
  }
}


h2 {
  font-size: 12pt;
}

p {
  font-size: 10pt;
}


ion-footer {
  ion-toolbar {
    --background: var(#00acec);
    --background: #00acec;
    color: white;
    --ion-color-base: white !important;
  }
}


ion-slides {
  height: 250px !important;

  ion-slide {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

  .bg-style {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }



  .opecity-css {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    height: 100px;
  }
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);
  padding: 0px;
  // height: 100%;
  align-content: flex-start;
  overflow: hidden;

  // @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        // background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .travel-category {
    padding: 0px;
    --page-category-background: #00AFFF;
    --page-category-background-rgb: 0, 175, 255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203, 50, 143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235, 187, 0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112, 223, 112;
  }

  .real-state-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217, 69, 58;
  }
}